 @model ForgetPasswordViewModel

@{
    ViewData["Title"] = "忘記密碼";
}
<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">忘記密碼</h3>

                    <form asp-action="ForgotPasswordSendingEmail" method="post">
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger small"></span>
                        </div>
                         
                        <button type="submit" class="btn btn-primary w-100">寄發驗證信</button>
                    </form>

                </div>


            </div>
            <div style="height:60px">
                <a asp-action="Login">回登入</a>
            </div>
        </div>
    </div>
</div>