@model RegisterViewModel

@{
    ViewData["Title"] = "註冊帳號";
}


<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">註冊帳號</h3>

                    <form asp-action="Register" method="post">
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Email" class="text-danger small"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" type="password" class="form-control" autocomplete="new-password" />
                            <span asp-validation-for="Password" class="text-danger small"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label"></label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">註冊</button>
                    </form>

                </div>


            </div>
            <div style="height:60px">
                <a asp-action="GetAll">回登入</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $('document').ready(
            (e)=>{
                
                const messages = @Json.Serialize(TempData["RegisterMsg"])                             

                if(messages.length !== 0)
                {
                   messages.forEach(i=>alert(i))
                }

            })
    </script>

}
