 @model RegisterViewModel

@{
    ViewData["Title"] = "更新密碼";
}



<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">更新密碼</h3>

                    <form asp-action="UpdatePasswordAction" method="post">
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger small"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label"></label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">確認修改</button>
                    </form>

                </div>


            </div>
          @*   <div style="height:60px">
                <a asp-action="Login">回登入</a>
            </div> *@
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
